#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_DIALOG_MAIN DIALOG 0, 0, 420, 420
STYLE DS_SETFONT | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "SA3 for REAPER"
FONT 8, "MS Sans Serif"
BEGIN
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,4,0,0
PRODUCTVERSION 0,4,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "FileVersion", "0.4.0"
            VALUE "ProductVersion", "0.4.0"
            VALUE "FileDescription", "SA3 for REAPER"
            VALUE "InternalName", "SA3ReaperExtension"
            VALUE "ProductName", "SA3ReaperExtension"
            VALUE "CompanyName", "the collabage patch"
            VALUE "LegalCopyright", "Copyright 2026 the collabage patch"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
